@use '../vars';
@use '../mixins';

.header__sup {
  background-color: var(--primary-color);
  height: calc(vars.$padding-main * 2);
  display: flex;
  align-items: center;
  padding: 0px calc(vars.$padding-main / 4);
  a {
    display: flex;
  }
  img {
    height: calc(vars.$padding-main * 1.5);
    width: auto;
  }
}

@media #{vars.$small-screen} {
  .header__sup {
    height: calc(vars.$padding-main * 3);
    padding: 0px calc(vars.$padding-main / 2);

    img {
      height: calc(vars.$padding-main * 2);
    }
  }
}

@media #{vars.$medium-screen} { 
  header {
    position: absolute;
    width: 100%;
  }
  html:not(.theme-dark) header {    
    top: calc(vars.$padding-main * 2);
  }

  .header__sup {
    height: calc(vars.$padding-main * 4);
    padding: 0px vars.$padding-main;
    width: 100%;

    img {
      height: calc(vars.$padding-main * 3);
    }


    header.header--scrolled &{
      position: fixed;
      top: 0;
      z-index: 100;
      height: calc(vars.$padding-main * 3);

      img {
        height: calc(vars.$padding-main * 2);
      }
    }
  }

  .header__sub {
    position: absolute;
    top: calc(vars.$padding-main * 4);
    width: 100%;
    height: vars.$padding-main;

    header.header--scrolled &, 
    .theme-dark & {
      opacity: 0;
    }

    .left, .right {
      display: block;
      position: absolute;
      @include mixins.triangle(vars.$padding-main, var(--primary-color-dark));
      top: 0;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
      transform: rotate(-90deg);
    }
  }
}