@use '../themes' as *;
@use '../vars';

html {
  @include theme-light;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Google Sans Code", monospace, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// Detect dark-mode in user setting 
@media (prefers-color-scheme: dark) {
  html:not(.theme-light) {
    @include theme-dark;
  }
}

html.theme-dark {
  @include theme-dark;
}

html.theme-light {
  @include theme-light;
}

section h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: var(--color-text-light);
  margin: vars.$padding-main 0;

  &::before, &::after {
    display: flex;
    align-self: center;
    content: "";
    height: 0;
    width: 2rem;
    border-top: 2px solid var(--color-text-light);
    margin: 1rem;
  }
}
