@use '../vars';

/* Medium to Large screen */
@media #{vars.$medium-screen} { 
  main {
    margin: vars.$padding-main;
    box-shadow: 1rem 1rem 1rem 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: vars.$padding-main;
    padding: vars.$padding-main;
    padding-top: calc(vars.$padding-main * 6); 
  }
  /*Dark theme*/
  @media (prefers-color-scheme: dark) {
    html:not(.theme-light) main {
      padding-top: calc(vars.$padding-main * 3);
    }
  }
  .theme-dark main {
    padding-top: calc(vars.$padding-main * 3);
  } 
}
