@use '../../vars';
@use '../../mixins';
@use '../../themes';

section.projects {
  h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;

    &::before, &::after {
      display: flex;
      align-self: center;
      content: "";
      height: 0;
      width: 2rem;
      border-top: 2px solid var(--color-text);
      margin: 1rem;
    }
  }
  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(505px, 100%), 1fr));
    gap: vars.$padding-medium;
    padding: vars.$padding-medium;
  }
}