@use '../../vars';
@use '../../mixins';
@use '../../themes';
@use 'sass:color';

article.project {
  padding: vars.$padding-medium;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: 
    transform .4s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow .4s cubic-bezier(0.4, 0, 0.2, 1),
    background-color .4s ease;
  height: fit-content;
  
  &:hover:not(.extend) {
    transform: translateY(-4px);  
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform .4s ease;
  }
  
  .project__extend-part {
    color: var(--color-text-light);
    padding: vars.$padding-medium;
    gap: vars.$padding-medium;
    display: grid;  
    grid-template-rows: 0fr;  
    opacity: 0;
    transition: 
      grid-template-rows .7s ease-in-out,
      opacity 1s ease-in-out .3s;
    
    > * {
      overflow: hidden;  
    }
    
    .project__links {
      display: flex;
      justify-content: space-between;

      a::before {
        content: '';
        @include mixins.link_icon(1rem, vars.$primary-color);
        .theme-dark & {
          @include mixins.link_icon(1rem, vars.$contrast-color);
        }
      }

      a:hover {
        font-weight: 600;
        transform: scale(1.02);
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
      display: flex;
      justify-content: center;
      text-align: center;

      &::before, &::after {
        display: flex;
        align-self: center;
        content: "";
        height: 0;
        width: 2rem;
        border-top: 2px solid var(--color-text);
        margin: 1rem;
      }
    } 
    .description {
      h4 {
        text-align: center;
      } 
    } 
  }
  
  &.extend {
    transform: scale(1.01);
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    background-color: var(--color-bg-light, #fafafa);
    z-index: 10;
    
    img {
      transform: scale(0.98);  
    }
    
    .project__extend-part {
      grid-template-rows: 1fr;  
      opacity: 1;
    }
  }
}