@use 'sass:string';

@mixin triangle($size, $color) {
  width: 0;
  height: 0px;
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
}
@mixin link_icon($size, $color, $type) {
  display: inline-block;
  margin-right: calc($size / 2);
  width: $size;
  height: $size;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  $encoded-color: string.slice(#{$color}, 2);
  @if $type == "classic" {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23#{$encoded-color}' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='m12 17l-1.5 1.5a3.536 3.536 0 0 1-5 0v0a3.536 3.536 0 0 1 0-5l3-3a3.536 3.536 0 0 1 5 0v0'/%3E%3Cpath d='m12 7l1.5-1.5a3.536 3.536 0 0 1 5 0v0a3.536 3.536 0 0 1 0 5l-3 3a3.536 3.536 0 0 1-5 0v0'/%3E%3C/g%3E%3C/svg%3E");
  } @else if $type == "github" {  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cmask id='SVGtXXaGeHA' width='24' height='24' x='0' y='0'%3E%3Cg fill='%23fff'%3E%3Cellipse cx='9.5' cy='9' rx='1.5' ry='1'/%3E%3Cellipse cx='14.5' cy='9' rx='1.5' ry='1'/%3E%3C/g%3E%3C/mask%3E%3Cg fill='none' stroke='%23#{$encoded-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='32' stroke-dashoffset='32' d='M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.7s' values='32;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='10' stroke-dashoffset='10' d='M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5'%3E%3Canimate attributeName='d' dur='3s' repeatCount='indefinite' values='M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5;M9 19c-1.406 0-3-.5-4-.5-.532 0-1 0-2-.5;M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.8s' dur='0.2s' values='10;0'/%3E%3C/path%3E%3C/g%3E%3Crect width='8' height='4' x='8' y='11' fill='%23#{$encoded-color}' mask='url(%23SVGtXXaGeHA)'%3E%3Canimate attributeName='y' dur='10s' keyTimes='0;0.45;0.46;0.54;0.55;1' repeatCount='indefinite' values='11;11;7;7;11;11'/%3E%3C/rect%3E%3C/svg%3E");
  } @else if $type == "linkedin" {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='4' cy='4' r='2' fill='%23#{$encoded-color}' fill-opacity='0'%3E%3Canimate fill='freeze' attributeName='fill-opacity' dur='0.15s' values='0;1'/%3E%3C/circle%3E%3Cg fill='none' stroke='%23#{$encoded-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M4 10v10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.15s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M10 10v10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.45s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='24' stroke-dashoffset='24' d='M10 15c0 -2.76 2.24 -5 5 -5c2.76 0 5 2.24 5 5v5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.65s' dur='0.2s' values='24;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
  } @else if $type == "mailto" {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23#{$encoded-color}' stroke-width='2'%3E%3Cpath stroke-linecap='round' d='M21 12a9 9 0 1 0-6.67 8.693'/%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cpath stroke-linecap='round' d='M16 9v4.5a2.5 2.5 0 0 0 5 0V12'/%3E%3C/g%3E%3C/svg%3E");
  }
}

@mixin brace($height, $color, $direction) {
  display: inline-block;
  width: calc($height / 2);
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  $encoded-color: string.slice(#{$color}, 2);

  @if $direction == left {  
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 70 30 Q 35 30, 35 45 L 35 82 Q 35 95, 15 100 Q 35 105, 35 118 L 35 155 Q 35 170, 70 170' fill='none' stroke='%23#{$encoded-color}' stroke-width='16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  } @else if $direction == right {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 30 30 Q 65 30, 65 45 L 65 82 Q 65 95, 85 100 Q 65 105, 65 118 L 65 155 Q 65 170, 30 170' fill='none' stroke='%23#{$encoded-color}' stroke-width='16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  
}

@mixin burger-menu($size, $color) {
  width: $size;
  height: $size;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  
  $encoded-color: string.slice(#{$color}, 2);
  
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='15' y1='25' x2='85' y2='25' stroke='%23#{$encoded-color}' stroke-width='8' stroke-linecap='round'/%3E%3Cline x1='15' y1='50' x2='85' y2='50' stroke='%23#{$encoded-color}' stroke-width='8' stroke-linecap='round'/%3E%3Cline x1='15' y1='75' x2='85' y2='75' stroke='%23#{$encoded-color}' stroke-width='8' stroke-linecap='round'/%3E%3C/svg%3E");
}