@use 'reset';
@use './styles/index';
@use './styles/Header';
@use './styles/Main';
@use './styles/Footer';
@use './styles/Projects/ProjectsPage';
@use './styles/Projects/Project';
@use './styles/Cv/CvPage';

