$padding-main: 3rem;
$padding-medium: 1rem;


$primary-color: #234C6A;
$primary-color-dark: #1B3C53;
$secondary-color: #456882;
$contrast-color: #D2C1B6;
$contrast-color-light: rgba(210, 193, 182, 0.4); ;
